---

---

<div class="myCard card card-side bg-color shadow-xl">
  <figure>
    <img
      src="https://d-sketon.top/img/_backwebp/bg26.webp"
      alt="Movie"
      class="h-full w-[200px] object-cover object-top"
    />
  </figure>
  <div class="card-body p-4">
    <h2 class="card-title flex justify-center my-title" >MoWang</h2>
    <div class="flex justify-center my-desc">魔王的 Blog </div>
    <div class="flex w-full flex-col lg:flex-row">
      <div class="card rounded-box grid h-16 flex-grow place-items-center">
        <div>
          <div class="flex justify-center my-cate">文章</div>
          <div class="flex justify-center my-number">11</div>
        </div>
      </div>
      <div class="divider sm:divider-horizontal"></div>
      <div class="card rounded-box grid h-16 flex-grow place-items-center">
        <div>
          <div class="flex justify-center my-cate">分类</div>
          <div class="flex justify-center my-number">11</div>
        </div>
      </div>
      <div class="divider sm:divider-horizontal"></div>
      <div class="card rounded-box grid h-16 flex-grow place-items-center">
        <div>
          <div class="flex justify-center my-cate">标签</div>
          <div class="flex justify-center my-number">11</div>
        </div>
      </div>
    </div>
    <div class="flex justify-between">
      <div>
        <button class="btn btn-sm btn-outline btn-primary">首页</button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline btn-primary">归档</button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline btn-primary">关于</button>
      </div>
    </div>

    <div class="decoration-wavy italic text-center my-yy">年少不得之物,终将困其一生</div>
  </div>
</div>
